/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
}
body{
    background-image:linear-gradient(to right,grey,white);
    height: 100vh;
}
html{
    font-size: 16px;
}
.wrapper{
 position:absolute;   
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 row-gap:1em
}
 .turn span{
    margin: auto;
    padding: 10px;
}
.container{
    width: 70vmin;
    height: 70vmin; 
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}
.btn-move{
    background-color: white;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: darkblue;
    box-shadow: 0 0 12px rgb(68, 50, 50);
}
#btn-restart{
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: rgb(3, 48, 48);
}
.popup{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
    /* background-image:linear-gradient(to right,grey,white); */
}
#btn-new-game{
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: rgb(3, 48, 48);
    color: white;
    border-radius: 0.2em;
    border: none;
}
#message{
    color: black;
    text-align: center;
    font-size: 1em;
} 
.hide{
    display: none;
}
.glow{
    background-color: rgb(44, 48, 48); 
    transition: background 0.5s;
    color:white;
}